<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <div class="">
      <div class="container-fluid header-section">
        <%- include ("../partials/nav.ejs") %>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (var i = 0; i < news.length; i++) { %>
          <div class="col">
            <div class="card h-100">
              <a href="/news/<%= news[i].id %>" target="_blank">
                <img
                  class="card-img-top"
                  alt=""
                  src="<%= news[i].image %>"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title"><%= news[i].title %></h5>
                <p class="card-text"><%= news[i].description %></p>
              </div>
              <div class="card-footer">
                Viimati uuendatud: <%= news[i].updatedAt %>
                <a
                  href="/news/<%= news[i].id %>"
                  class="btn btn-secondary"
                  role="button"
                  target="_blank"
                  >Loe uudist</a
                >
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
