<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <div class="">
      <div class="container-fluid header-section">
        <%- include ("../partials/nav.ejs") %>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (var i = 0; i < treks.length; i++) { %>
          <div class="col">
            <div class="card h-100">
              <img
                src="<%= treks[i].image %>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title"><%= treks[i].title %></h5>
                <p class="card-text"><%= treks[i].description %></p>
              </div>
              <div class="card-footer">
                <p>Algab: <%= treks[i].startsAt %></p>
                <p>Osalejad: <%= treks[i].participants.length %></p>
                <a
                  href="/trek/<%= treks[i].id %>"
                  class="btn btn-secondary"
                  role="button"
                  >Registreeri</a
                >
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
