<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <script>
      async function submitRegistration() {
        const successMessage =
          document.getElementById('success-message');
        const errorMessage = document.getElementById('error-message');

        const trek = '<%= trek.id %>';
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;

        // prevent submission and cause validation
        if (!name || !email) return false;

        // prevent submission
        event.preventDefault();

        const response = await fetch(
          'http://localhost:5000/register',
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              email,
              name,
              trek,
            }),
          }
        );
        if (response.ok) {
          console.log('ok');
          successMessage.style.display = 'block';
        } else {
          console.log('not ok');
          errorMessage.style.display = 'block';
        }
      }
    </script>
  </head>

  <body>
    <div class="">
      <div class="container-fluid header-section">
        <%- include ("../partials/nav.ejs") %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img
                src="<%= trek.image %>"
                class="card-img-top"
                alt="<%= trek.title %>"
              />
              <div class="card-body">
                <h5 class="card-title"><%= trek.title %></h5>
                <p class="card-text"><%= trek.description %></p>
              </div>
              <div class="card-footer">
                <p>Algab: <%= trek.startsAt %></p>
                <p>Osalejad: <%= trek.participants.length %></p>
              </div>
            </div>
          </div>
        </div>

        <form
          id="form"
          method="post"
          action="/register"
          onsubmit="submitRegistration();"
        >
          <input name="trek" type="hidden" value="<%=trek.id %>" />
          <label for="name">Nimi</label>
          <input
            type="text"
            class="form-control"
            required="true"
            id="name"
            name="name"
            placeholder="Nimi"
          />
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            required="true"
            id="email"
            name="email"
            placeholder="Email"
          />
          <button
            id="submit"
            type="submit"
            class="btn btn-secondary mt-3"
          >
            Registreeri
          </button>
          <div
            class="alert alert-success hidden"
            id="success-message"
            style="display: none"
            role="alert"
          >
            Sa oled edukalt registreerinud.
          </div>
          <div
            class="alert alert-danger"
            id="error-message"
            style="display: none"
            role="alert"
          >
            Midagi läks valesti, proovi hiljem uuesti.
          </div>
        </form>
      </div>
    </div>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
